/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #23272A;
}


a {
    text-decoration: none;
    color: #23272A;
}

a:hover {
    text-decoration: underline;
    color: #23272A;
}

h1 {
    font-size: 3.2rem;
    margin-bottom: 2.5rem;
    font-weight: 700;
    line-height: normal;
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 700;
    line-height: normal;
}

.fas {
    margin-right: 0.75rem;
}



/* intestazione e navigazione */

header {
    padding: 1.5rem 0;
    background-color: #3161E0;
    color: #fff;
}

header > div {
    margin: 0 auto;
    max-width: 1280px;
    text-align: center;
}

header > div::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    width: 128px;
    float: left;
}

header a:last-child {
    float: right;
}


nav {
    display: inline-block;
}

nav ul {
    list-style: none;
    display: inline-block;
    font-size: 0;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 0 1.5rem;
    text-transform: capitalize;
    font-size: 1rem;
    color: #fff;
}

nav a:hover {
    color: #fff;
}





/* layout */

/* main {
    font-size: 0;
} */

section {
    padding: 5rem 0;
    line-height: 1.5;
}

section:nth-of-type(odd) {
    background-color: #ccc;
}

.content {
    margin: 0 auto;
    max-width: 1280px;
    text-align: center;
}

section .content::after {
    content: "";
    display: table;
    clear: both;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.sect-img-box {
    width: 50%;
}

.sect-txt {
    width: 30%;
    padding-top: 2rem;
    font-size: 1rem;
    text-align: left;
}

.wave path, .wave-reverse path {
    fill: #ccc;
}

.wave-reverse {
    transform: rotate(180deg);
}

.v-center{
    vertical-align: middle;
}



/* contenuto*/

.sect-1 {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.box-hero {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}



.sect-2 {
    /* background-image: url(../img/wave.svg);
    background-size: 100% 10%;
    background-repeat: no-repeat;
    background-position: bottom; */
    color: #23272A;
}







/* pulsanti */

.btn {
    padding: 0.8rem 2rem;
    border: 0;
    border-radius: 100px;
    display: inline-block;
    color: #fff;
    font-size: 1.2rem;
    margin: 0 1rem;
    transition: 0.3s;
}

.btn:hover {
    box-shadow: 0 8px 16px rgb(0, 0, 0, 0.2);
    text-decoration: none;
    filter: brightness(120%);
    color: #fff;
}

.btn-light {
    background-color: #fff;
    color: #000;
}

.btn-light:hover {
    color: #5865f2;
}

.btn-dark {
    background-color: #1a1a1a;
}

.btn-violet {
    background-color: #5865f2;
}


/* footer */

footer {
    background-color: blue;
}