/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
}

@font-face{
    font-family:Ginto Normal;font-weight:400;src:url(https://discord.com/assets/57e5e55cf0143736ceab51ac0a9ebb54.woff2) format("woff2"),url(https://discord.com/assets/32c4f766e4892c054dfd367dbe0fc6dc.woff) format("woff")
}

@font-face{
    font-family:Ginto Normal;font-weight:500;src:url(https://discord.com/assets/e215f61cbbc2e49cea6121e0d2679aa2.woff2) format("woff2"),url(https://discord.com/assets/88055567e3d928bcb1e67e967081572e.woff) format("woff")
}

@font-face{
    font-family:Ginto Normal;font-weight:700;src:url(https://discord.com/assets/1cce82154216dc3cb04a84d011ce1201.woff2) format("woff2"),url(https://discord.com/assets/746a4f241e03deffc59b08c5650cf458.woff) format("woff")
}

@font-face{
    font-family:Ginto Nord;font-weight:800;src:url(https://discord.com/assets/ae7c84783ad48b6d1c8e2bfbe707e0d4.woff2) format("woff2"),url(https://discord.com/assets/92e32db984c8577d8b81548b43b9c061.woff) format("woff")
}

a, a:hover {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

a:hover {
    color: rgb(34, 100, 155);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}



/* intestazione e navigazione */

header {
    background-color: rgb(27, 102, 199);
}

nav {
    margin: 0 auto;
    max-width: 1280px;
}

nav ul {
    list-style: none;
}

nav a {
    display: inline-block;
    padding: 1.5rem 0.5rem;
}



/* layout */

section {
    height: 100vh;
    padding: 4rem 0;
}

section::after {
    content: "";
    background-image: url("../img/immagine.svg");
}

.h-center {
    margin: 0 auto;
    max-width: 1280px;
}

.img-box {
    height: 100%;
    width: 50%;
    margin-right: 4rem;
}

img {
    height: 100%;
    object-fit: cover;
}


/* pulsanti */

.btn {
    padding: 1rem;
    border: 0;
    border-radius: 50%;
    display: inline-block;
    font-family: "Whitney", sans-serif;
}

.btn:hover {
    box-shadow: 0 8px 16px rgb(0, 0, 0, 0.2);
}

.btn-light {
    background-color: #fff;
    color: #000;
}

.btn-dark {
    background-color: #1a1a1a;
    color: #fff;
}

.btn-violet {
    background-color: #7566ff;
    color: #fff;
}



/* footer */

footer {
    background-color: blue;
}