/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

:root {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #23272A;
}



/* tipografia */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2.75rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.fas {
    margin-right: 0.75rem;
}



/* intestazione e navigazione */

header {
    padding: 1.5rem 0;
    background-color: #3161E0;
    color: #fff;
}

header > div {
    margin: 0 auto;
    max-width: 1280px;
    text-align: center;
}

header > div::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    width: 128px;
    float: left;
}

header a:last-child {
    float: right;
}


header nav {
    display: inline-block;
}

header nav ul {
    display: inline-block;
    /* font-size: 0; */
}

header nav a {
    display: inline-block;
    padding: 0 1.5rem;
    text-transform: capitalize;
    font-size: 1rem;
    color: #fff;
}

header nav a:hover {
    color: #fff;
}



/* contenuto */

/* main {
    font-size: 0;
} */

section {
    padding: 5rem 0;
    line-height: 1.5;
}

section:nth-of-type(2n+3) {
    background-color: #ccc;
}

.content {
    margin: 0 auto;
    max-width: 1024px;
}

section:first-of-type {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    height: 50vh;
    color: #fff;
    text-align: center;
}

.box-hero {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

section:last-of-type {
    text-align: center;
}

section .content::after {
    content: "";
    display: table;
    clear: both;
}


.f-left {
    float: left;
}

.f-right {
    float: right;
}

.sect-img-box {
    width: 50%;
}

.sect-txt {
    width: 30%;
    padding-top: 2rem;
    font-size: 1rem;
    text-align: left;
}

.img-big {
    width: 100%;
}

.v-center{
    vertical-align: middle;
}



/* decorazioni */

.wave path, .wave-reverse path {
    fill: #ccc;
}

.wave-reverse {
    transform: rotate(180deg);
}

.stars-deco {
    height: 2.5rem;
    margin-bottom: -1.1rem;
}



/* pulsanti contenuto*/

.btn {
    margin: 1rem;
    padding: 0.8rem 2rem;
    border: 0;
    border-radius: 100px;
    display: inline-block;
    color: #fff;
    font-size: 1.2rem;
    transition: 0.3s;
}

.btn:hover {
    box-shadow: 0 8px 16px rgb(0, 0, 0, 0.2);
    text-decoration: none;
    filter: brightness(120%);
    color: #fff;
}

.btn-light {
    background-color: #fff;
    color: #000;
}

.btn-light:hover {
    color: #5865f2;
}

.btn-dark {
    background-color: #1a1a1a;
}

.btn-violet {
    background-color: #5865f2;
}




/* footer */

footer {
    background-color: #23272A;
    padding: 5rem 0;
    font-size: 0;
}

.social-lang-box {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

footer nav {
    display: inline-block;
    vertical-align: top;
    width: calc((100% - 300px) / 4);
}

footer h4, footer h5 {
    color: #7289DA;
    font-weight: 600;
}

footer h4 {
    font-size: 2rem;
}

footer h5 {
    font-size: 1.2rem;
}

footer .content:last-child {
    border-top: 1px #7289DA solid;
    margin-top: 4rem;
}

footer nav ul {
    font-size: 1rem;
}

footer nav a {
    display: block;
    padding-top: 1rem;
    color: #fff;
}

footer nav a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-btn {
    color: #fff;
    background-color: #8EA1E1;
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
    transition: 0.3s;
    border-radius: 100px;
}

.footer-btn:hover {
    text-decoration: none;
    color: #fff;
    filter: brightness(120%);
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
}

footer form {
    margin: 1rem 0;
}

footer select option, footer select {
    background-color: #23272A;
    color: #fff;
    border: 0;
    vertical-align: middle;
}

footer form img {
    width: 1.5rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

footer .social a {
    font-size: 1.2rem;
    color: #fff;
    transition: 0.3s;
    margin-right: 1.2rem;
}

footer .social a:hover {
    color: #8EA1E1;
}
